 .login {
     margin: 0 auto;
     border: 1px solid #ccc;
     background-color: #252525;
     color: #fff;
 }

 label {
     display: block;
     margin-bottom: 10px;
 }

 input[type="text"],
 input[type="password"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: none;
     border-radius: 4px;
     background-color: #404040;
     color: #fff;
 }

 input[type="text"]::placeholder,
 input[type="password"]::placeholder {
     color: #ccc;
 }

 button[type="submit"] {
     background-color: #4CAF50;
     color: #fff;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 button[type="submit"]:hover {
     background-color: #45a049;
 }